html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.background {
   /* background: #d8d8d8; */
    background: rgba(216, 216, 216, 0.6);
}

body {
    margin: 0 auto;
    max-width: 2000px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*
Desktop view
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: cursive;
    font-size: 4rem;
    color: darkblue;
}

li {
    list-style: none;
    padding: 10px;
}

header h1, header nav {
    flex: 2;
}

header h1 {
    text-align: center;
}

header nav {
    text-align: center;
}

header nav li {
    display: inline-block;
}

.journey-image {
    background: url(img/bear.jpg) no-repeat center center;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-text {
    color: rgb(28, 131, 8);
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

main {
    flex: 3;
}

aside {
    flex: 1;
    margin-left: 15px;
}

article > header {
    justify-content: space-between;
}

article, .sidebar-widget {
    padding: 15px;
    margin: 15px 0;
}

article > header {
    background: #d8d8d8;
}

a:hover {
    color:blue;
}

td:nth-child(2) {
    padding-left: 30px;
}

/*
Mobile view
*/
@media (max-width: 425px) {
    header h1 {
        margin: 0;
        padding: 15px;
    }

    li {
        list-style: none;
        padding: 10px;
    }

    ul {
        padding: 0px;
    }

    header {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .journey-text {
        text-align: center;
        font-size: 2rem;
        padding: 1.5rem;
        border-radius: 10px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
    
    i {
        margin: 0 5px;
    }
}
